#contact {
	width: 13rem;
	height: 4rem;
	position: fixed;
	display: flex;
	flex-direction: row;
	gap: 1rem;
	justify-content: flex-end;
	top: 2rem;
	right: 3rem;
	transition: 300ms ease;
}

.social-icon {
	width: 2rem;
	height: 2rem;
}

.instagram {
	scale: 110%;
}

@media (max-width: 1100px) {
	#contact {
		display: none;
	}
}
